.f-table {
  width: 100%;
  border: 1px solid;
}

.sub-col {
  font-size: 11px !important;
}

.f-table,
th,
td {
  border: 1px solid black !important;
  height: 50px !important;
}

/* .f-table tbody tr td {
  border-top: none !important;
  border-bottom: none !important;
} */

.cross {
  background-color: #023e8a !important;
  width: 20%;
}
.negative {
  color: red;
}

.t-head {
  background-color: #0874e1 !important;
  color: #fff !important;
}

.sub-col {
  background-color: #00b4d8 !important;
}

.sub-col th {
  width: 8%;
}

.market-share-row {
  border-top: 1px solid !important;
}

.disable-cell {
  background-color: #778da969;
}
